site_name: OneSelect API
theme:
  name: material
  palette:
    scheme: slate
    primary: deep purple
    accent: purple
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy

plugins:
  - search

nav:
  - Home: index.md
  - Introduction: introduction.md
  - Theory Background: theory_background.md
  - Authentication: authentication.md
  - API Reference: api.md
  - API Summary List: rest_api_spec_list.md
  - Inconsistency Detection: inconsistency_detection.md
  - Deployment: deployment.md
  - DB Schema: database_schema.md
  - Working with Proxies: working-with-proxies.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
